$blue: #166fe5;
$green: #36a420;

$border-radius: 0;

@import '~bootstrap/scss/bootstrap';
body {
    min-height: 100vh;
    background: linear-gradient(
        203deg,
        rgba(213, 197, 224, 0.9) 0%,
        rgba(131, 207, 147, 0.9) 50%,
        rgba(215, 171, 109, 0.9) 100%
    );
}
